<h1>welcome to Bookers!!</h1>
<p>In Bookers</br>
<p>you can share and exchange your opinion, inpression, and emotion </br>
<p>about various books!</p>

<li>
    <%= link_to "log_in", new_user_session_path %>
</li>
<li>
    <%= link_to "sign_up", new_user_registration_path %>
</li>